<a href="https://colab.research.google.com/github/ateafack-nora/WTM-GDG-Bambili-100-Days-of-code-Datascience/blob/main/Day3_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
sample_variable=None

In [ ]:
name="john"

In [ ]:
#-name-="nora"variable name can not start or end with an underscore
#7Age= 10 variable name can not start with a digit
#average+height= 15 contains "+" which is not permited in a variable name
#my name="nora"spaces are not permited in variable name and can only be seperated with an underscore

In [ ]:
sample_variable="Hello world"

In [ ]:
print(sample_variable)

Hello world

In [ ]:
answer=1+1
print(answer)

2

In [3]:
var1=2+2
print(var1)
#var1 is an interger

4

Addition of two intergers

In [5]:
var2=3+2/5
print(var2)
# var2 is a float

3.4

adding an interger to float

In [7]:
var3=4*16
print(var3)
#var3 is an interger

64

Multiplication of two intergers

In [9]:
var4=4^6
print(var4)
#var4 is an interger

2

4 is been raised to the power 6

In [11]:
var5= 'Hello' + ' '+'world'
print(var5)
#var5 is a string

Hello world

concatination of three stings

In [13]:
var6='Hello World'*5
print(var6)
# var6 is a string

Hello WorldHello WorldHello WorldHello WorldHello World

printing out the string Hello World five times

In [17]:
var7 =4%3
print(var7)
#var7 is an interger

1

performing the calculation 4 mod 3