<a href="https://colab.research.google.com/github/ateafack-nora/WTM-GDG-Bambili-100-Days-of-code-Datascience/blob/main/Day6_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#definition of a set
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
print(x)
#a set can also be define  with the {}
x2 =  {'foo', 'bar', 'baz', 'foo', 'qux'}
print(x2)

{'foo', 'bar', 'qux', 'baz'}
{'foo', 'bar', 'qux', 'baz'}

In [11]:
 s = 'quux'

list(s)
set(s)
print(list(s))
print(set(s))

['q', 'u', 'u', 'x']
{'q', 'u', 'x'}

list(s) generates a list of the characters in the string s while
set(s) generates a set of the characters in s

In [12]:
 x = {42, 'foo', 3.14159, None}
print(x)

{3.14159, 42, 'foo', None}

elements in a set can be objects of different types: float, int, string

In [12]:
#len() function returns the number of elements in a set
x = {'foo', 'bar', 'baz'}
print( len(x))
#in operators  used to test for membership in a set
x1= {'foo', 'bar', 'baz'}
'bar' in x1

3

True

In [13]:
#in operators  used to test for membership in a set
x2 = {'foo', 'bar', 'baz'}
'qux' in x2

False

In [16]:
 #set union can be performed with the | operator:
 x1 = {'foo', 'bar', 'baz'}
 x2 = {'baz', 'qux', 'quux'}
 print(x1 | x2)

{'foo', 'qux', 'baz', 'bar', 'quux'}

In [19]:
#Set union can also be obtained with the .union() method
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1.union(x2))

{'foo', 'qux', 'baz', 'bar', 'quux'}

sets never contain duplicate values

In [21]:
#union of the set with the operator
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
print(a.union(b, c, d))

{1, 2, 3, 4, 5, 6, 7}

In [23]:
#union of the set with the method
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
print(a | b | c | d)

{1, 2, 3, 4, 5, 6, 7}

In [26]:
# using the operator
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1 & x2)
# using the method
print(x1.intersection(x2))

{'baz'}
{'baz'}

set intersection with the operator and method

In [28]:
#multiple sets with the intersection method and operator
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
#operator
print(a & b & c & d)
#method
print( a.intersection(b, c, d))

{4}
{4}

In [30]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}
#with the operator
print(a - b - c)
 # with the method
print( a.difference(b, c))

{1, 2, 3}
{1, 2, 3}

set difference using the operator and method

In [32]:
#Set Symmetric Difference
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
#with the method
print(x1.symmetric_difference(x2))
# with the operator
print(x1 ^ x2)

{'qux', 'bar', 'foo', 'quux'}
{'qux', 'bar', 'foo', 'quux'}

In [33]:
#Set Symmetric Difference with multiple sets
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}
#with the operator
print(a ^ b ^ c)
#with the method
# a.symmetric_difference(b, c)

{10, 100, 5}

the method does not work for multiple set symmetric difference

In [36]:
# disjoint
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
# returns True if x1 and x2 have no elements in common
print(x1.isdisjoint(x2))
print(x1.isdisjoint(x2 - {'baz'}))

False
True

In [39]:
# return True if x1 is a subset of x2 and false if x1 is not a subset of x2
x1 = {'foo', 'bar', 'baz'}
print(x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'}))
x2 = {'baz', 'qux', 'quux'}
print(x1 <= x2)

True
False

In [43]:
#A set is considered to be a subset of itself
x = {1, 2, 3, 4, 5}
print(x.issubset(x))

print(x <= x)
# < operator is used to test if a set is a proper subset of it self
print( x < x)

True
True
False

In [47]:
#returns True if x1 is a proper superset of x2 and false if otherwise 
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
print(x1 > x2)
print((x1-{'baz'})>x2)

True
False

In [49]:
#Modify a set by union
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 |= x2
print(x1)


x1.update(['corge', 'garply'])
print(x1)

{'foo', 'qux', 'baz', 'bar'}
{'foo', 'qux', 'baz', 'corge', 'bar', 'garply'}

In [51]:
#Modify a set by symmetric difference
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 ^= x2
print(x1)

x1.symmetric_difference_update(['qux', 'corge'])
print(x1)

{'bar', 'qux'}
{'bar', 'corge'}

In [53]:
# adding an element to a set
x = {'foo', 'bar', 'baz'}

x.add('qux')
print(x)

{'bar', 'foo', 'qux', 'baz'}

In [55]:
# removing an element from a set and if the element is not in the set python raises an exception
x = {'foo', 'bar', 'baz'}

x.remove('baz')
print(x)

{'bar', 'foo'}

In [58]:
# discard is uded to remove an element from a set  
x = {'foo', 'bar', 'baz'}

x.discard('baz')
print(x)

#if the element is not in the set python does nothing
x.discard('qux')
print(x)

{'bar', 'foo'}
{'bar', 'foo'}

In [62]:
#pops removes a random element from a set
x = {'foo', 'bar', 'baz'}

print(x.pop())
print(x)

bar
{'foo', 'baz'}

In [65]:
#clear removes all the element from a set
x = {'foo', 'bar', 'baz'}
x.clear()
print(x)

set()