<a href="https://colab.research.google.com/github/ateafack-nora/WTM-GDG-Bambili-100-Days-of-code-Datascience/blob/main/Day7_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
  team = dict(
     Colorado='Rockies',
     Boston='Red Sox',
     Minnesota='Twins',
     Milwaukee='Brewers',
     Seattle='Mariners'
 )
  print(type(team))
  print(team)

<class 'dict'>
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [7]:
#team[1] elements in a dictionary can not be accessed by an index
# accesing elements in the dictionary with the corresponding key
team['Colorado']

'Rockies'

In [10]:
#python raises an exception when the key is not in the dictionary
#team['Toronto']

In [12]:
#adding an entry to an existing dictionary
team['Kansas City'] = 'Royals'
print(team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [14]:
#updating an entry in the dictionary
team['Seattle'] = 'Seahawks'
print(team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [8]:
#deleting an entry using del statement
team = dict(
     Colorado='Rockies',
     Boston='Red Sox',
     Minnesota='Twins',
     Milwaukee='Brewers',
     Seattle='Mariners'
 )
del team['Colorado']
print(team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [9]:
d = {0: 'a', 1: 'b', 2: 'c', 3: 'd'}
print(d) 


print(d[0])

print(d[2])

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
a
c

[0], [2] are the dictionary keys and not indeces

In [15]:
#building a dictionary incrimentally with {} braces
person = {}
print(type(person))

person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 55
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
# accessing the values in the dictionary
print(person)
print(person['fname'])

print(person['age'])
print(person['pets'])

<class 'dict'>
{'fname': 'Joe', 'lname': 'Fonebone', 'age': 55, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
Joe
55
{'dog': 'Fido', 'cat': 'Sox'}

In [17]:
# the keys of a dictionary must not be of the same type
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}
print(foo)

print(foo[42])

print(foo[2.78])

{42: 'aaa', 2.78: 'bbb', True: 'ccc'}
aaa
bbb

In [20]:
#using built-in objects as keys
d = {int: 1, float: 2, bool: 3}
print(d)
#acccessint the key float
print(d[float])

{<class 'int'>: 1, <class 'float'>: 2, <class 'bool'>: 3}
2

In [1]:
# a key can appear only once in a dictionary and when a second value is assign to a key it overrides the first one instead of appearing again

In [3]:
#tupples asdictionary
d = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}
print(d[(1,1)])

a

In [5]:
#values can appear multiple times in a dictionary
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
print(d)

print(d[0] == d[1] == d[2])

{0: 'a', 1: 'a', 2: 'a', 3: 'a'}
True

In [10]:
#operators and built-in functions
team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
 }
print('Milwaukee' in team)

print('Toronto' in team)

print('Toronto' not in team)

True
False
True

In [13]:
#usint in operator with short circuit evaluation to avoid raising an error when accessint a key that is not in the dictionary
print( 'Toronto' in team and team['Toronto'])

False

In [15]:
# len() function
print(len(team))

5

In [23]:
#built-in Dictionary Methods
#d.clear() function deletes everything in the dict 
d = {'a': 10, 'b': 20, 'c': 30}
d.clear()
print(d)
#d.get
d = {'a': 10, 'b': 20, 'c': 30}
print(d.get('b'))
print(d.get('z'))
print(d.get('z', -1))
#d.items()
d = {'a': 10, 'b': 20, 'c': 30}
print(d)
print(list(d.items()))

print(list(d.items())[1][0])
print(list(d.items())[1][1])

{}
20
None
-1
{'a': 10, 'b': 20, 'c': 30}
[('a', 10), ('b', 20), ('c', 30)]
b
20

In [25]:
#d.keys()
print(list(d.keys()))

['a', 'b', 'c']

In [28]:
#d.values()
print(list(d.values()))
# dupplicate values will occur
d = {'a': 10, 'b': 10, 'c': 10}
print(list(d.values()))

[10, 10, 10]
[10, 10, 10]

In [31]:
#d.pop
d = {'a': 10, 'b': 20, 'c': 30}
print(d.pop('b'))
print(d)

20
{'a': 10, 'c': 30}

In [32]:
#d.popitem()
d = {'a': 10, 'b': 20, 'c': 30}
print(d.popitem())
print(d)
print(d.popitem())
print(d)

('c', 30)
{'a': 10, 'b': 20}
('b', 20)
{'a': 10}

d.popitem() raises an error when d is empty

In [34]:
#d.update
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}
d1.update(d2)
print(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}