<a href="https://colab.research.google.com/github/ateafack-nora/WTM-GDG-Bambili-100-Days-of-code-Datascience/blob/main/Day8_conditional_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# the if statement
x = 0
y = 5
if x < y:
  print('yes')
if y or x:                            
     print('yes')

yes
yes

In [1]:
if 'aul' in 'grault':                
     print('yes')
if 'quux' in ['foo', 'bar', 'baz']:  
     print('yes')

yes

In [3]:
# example of how indentation works
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [5]:
if 'foo' in ['foo', 'bar', 'baz']:       
    print('Outer condition is true')      

    if 10 > 20:                          
        print('Inner condition 1')              

    print('Between inner conditions')     

    if 10 < 20:                           
        print('Inner condition 2')        

    print('End of outer condition')       
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [9]:
# else clause
x = 20

if x < 50:
     print('(first suite)')
     print('x is small')
else:
     print('(second suite)')
     print('x is large')

(first suite)
x is small

In [11]:
x = 20

if x < 50:
     print('(first suite)')
     print('x is small')
else:
     print('(second suite)')
     print('x is large')

(first suite)
x is small

In [13]:
#else if clause(elif)
name = 'Joe'
if name == 'Fred':
     print('Hello Fred')
elif name == 'Xander':
     print('Hello Xander')
elif name == 'Joe':
     print('Hello Joe')
elif name == 'Arnold':
     print('Hello Arnold')
else:
     print("I don't know who you are!")

Hello Joe

In [1]:
names = {
     'Fred': 'Hello Fred',
     'Xander': 'Hello Xander',
     'Joe': 'Hello Joe',
     'Arnold': 'Hello Arnold'
 }

print(names.get('Joe', "I don't know who you are!"))
print(names.get('Rick', "I don't know who you are!"))

Hello Joe
I don't know who you are!

In [3]:
# using the if and elif and if the first condition is true the other conditions are neglated
if 'a' in 'bar':
     print('foo')
elif 1/0:
     print("This won't happen")
elif var:
     print("This won't either")

foo

In [8]:
#one line if statement
if 'f' in 'foo': print('1'); print('2'); print('3')
if 'z' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [12]:
#Multiple statements may be specified on the same line as an elif or else clause as well:
x = 2
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux
corge
grault

conditional expressions

In [13]:
#1
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [15]:
#2
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [17]:
#3
age = 12
s = 'minor' if age < 21 else 'adult'
print(s)

minor

In [19]:
#4
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [22]:
x = y = 40

z = 1 + x if x > y else y + 2
print(z)

42

In [24]:
#Conditional expressions  use short-circuit evaluation. if the first condition is true then the second is not evaluated so no excepton is raised
'foo' if True else 1/0

'foo'

In [28]:
#chaining condional expressions together
x=2
s = ('foo' if (x == 1) else
      'bar' if (x == 2) else
      'baz' if (x == 3) else
      'qux' if (x == 4) else
      'quux'
 )
print(s)

bar

In [29]:
#pass statement
if True:
    pass

print('foo')

foo