<a href="https://colab.research.google.com/github/ateafack-nora/WTM-GDG-Bambili-100-Days-of-code-Datascience/blob/main/Day9_whileloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# while loop
n = 5
while n > 0:
     n -= 1
     print(n)

4
3
2
1
0

In [8]:
a = ['foo', 'bar', 'baz']
while a:
     print(a.pop(-1))

baz
bar
foo

In [10]:
# break and continue Statements
#break
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [12]:
#continue
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [14]:
#else Clause
n = 5
while n > 0:
     n -= 1
     print(n)
else:
     print('Loop done.')

4
3
2
1
0
Loop done.

In [1]:
 n = 5
 while n > 0:
     n -= 1
     print(n)
     if n == 2:
         break
 else:
     print('Loop done.')
# the else loop is not been exercuted because of the break

4
3
2

In [4]:
#when the else clause is useful in the while loop
a = ['foo', 'bar', 'baz', 'qux']
s = 'corge'

i = 0
while i < len(a):
     if a[i] == s:
         # Processing for item found
         break
     i += 1
else:
     # Processing for item not found
     print(s, 'not found in list.')

corge not found in list.

In [6]:
# built-in ways to search for an item s in a list
if s in a:
     print(s, 'found in list.')
else:
     print(s, 'not found in list.')

corge not found in list.

In [7]:
#Infinite Loops
a = ['foo', 'bar', 'baz']
while True:
     if not a:
         break
     print(a.pop(-1))

baz
bar
foo

.pop() use to remove items from a list untill the list becomes empty

multiple break statement can also be specify in a loop

In [11]:
#Nested while Loops

age =20
gender = 'm'
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

mother

In [17]:
# while loop in another while loop
a = ['foo', 'bar']
while len(a):
       print(a.pop(0))
       b = ['baz', 'qux']
       while len(b):
         print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [18]:
#One-Line while Loops
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0